<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="consulting.dao.ConsultingDAO">
<!--컬럼 값 _ 다른것 맞춰주기   -->
	<resultMap type="consultingVO" id="consultingMap">
		<result column="consulting_no" property="consultingNo" />
		<result column="report_ymd" property="reportYmd" />
		<result column="customer_type" property="customerType" />
		<result column="main_category" property="mainCategory" />
		<result column="middle_category" property="middleCategory" />
		<result column="consulting_report" property="consultingReport" />
		<result column="consulting_channel" property="consultingChannel" />
		<result column="admin_name" property="adminName" />
		<result column="add_consulting" property="addConsulting" />
	</resultMap>
	
	<!-- 상담리스트 전체 조회  -->
	<select id="selectAllConsulting" resultMap="consultingMap">
		select consulting_no, to_char(report_ymd, 'yyyy-mm-dd') as report_ymd, customer_type, id, name, birth,
		main_category, middle_category,title, consulting_report, consulting_channel, admin_name, empno, progress, add_consulting
		from report_tb
			order by consulting_no desc
	</select>
	
    <!-- 고객별 상담리스트 전체 조회(session id)  -->
	<select id="selectById" parameterType="String" resultMap="consultingMap" > 
		select consulting_no, to_char(report_ymd, 'yyyy-mm-dd') as report_ymd, customer_type, id, name, birth,
		main_category, middle_category,title, consulting_report, consulting_channel, admin_name, empno, progress, add_consulting
		from report_tb 
		where id = #{id}
		order by consulting_no desc
	</select>
	
	
	<!-- 상담리스트 번호별 조회 -->
	<select id="selectByConsultingNo" parameterType="int" resultMap="consultingMap" >
		select consulting_no, to_char(report_ymd, 'yyyy-mm-dd') as report_ymd, customer_type, id, name, birth,
		main_category, middle_category,title, consulting_report, consulting_channel, admin_name, empno, progress, add_consulting
			from  report_tb 
			where consulting_no = #{no}
			order by consulting_no desc
	</select>
	
	<!--메인카테고리로 회원정보 검색 -->
	<select id="selectSearchInfoByMainCategory" parameterType="String" resultMap="consultingMap" >
		select consulting_no, to_char(report_ymd, 'yyyy-mm-dd') as report_ymd, customer_type, id, name, birth,
		main_category, middle_category,title, consulting_report, consulting_channel, admin_name, empno, progress, add_consulting
			from  report_tb 
			where main_category = #{mainCategory}
			order by consulting_no desc
	</select>
	
	<!-- 상담 리스트 정보 검색 -->
	<select id="selectSearchInfoList" parameterType="map" resultMap="consultingMap" >
		select consulting_no, to_char(report_ymd, 'yyyy-mm-dd') as report_ymd, customer_type, id, name, birth,
		main_category, middle_category,title, consulting_report, consulting_channel, admin_name, empno, progress, add_consulting
			from  report_tb 
			where 
			<choose>
				<when test="mainCategory != '' and middleCategory == ''">
					main_category = #{mainCategory}
				</when>
				<when test="middleCategory != '' ">
					main_category = #{mainCategory} and middle_category = #{middleCategory}
				</when>
				<when test="searchWord != '' ">
					id like '%'||#{searchWord}||'%' or name like '%'||#{searchWord}||'%' or empno like '%'||#{searchWord}||'%'
				</when>
				<when test="startDate != '' and endDate == '' ">
					report_ymd >= #{startDate}
				</when>
			
			</choose>
			order by consulting_no desc
	</select>
	
	
	<!-- 상담기록 노트에 등록  -->
	<insert id="insert" parameterType="consultingVO">
		insert into report_tb(consulting_no, id, name, birth,
		main_category, middle_category,title, consulting_report, consulting_channel, admin_name, empno )
		 values(seq_report_tb_no.nextval, #{id}, #{name}, #{birth}, #{mainCategory}, #{middleCategory}, 
		 #{title}, #{consultingReport}, #{consultingChannel}, #{adminName}, #{empno})
	</insert> 
	
	
	<!-- 추가상담 컬럼 Y로 업데이트 -->
	<update id="updateAddConsulting" parameterType="int"> <!-- 해당 게시물이라서 int -->
		update  report_tb
			set add_consulting = 'Y'
		  where consulting_no = #{no}
	</update>
</mapper>